
.card {
    width: 20%;
    height: 400px;
    padding: 10px;
    margin: 20px;
    display: inline-block;
    position: relative;
    
    
    .card-img {
        height: 70%;
        object-fit: cover;
        object-position: center;
    }
}

.dashboard {
    background: rgb(71, 71, 71);
    &__btn {
        margin: 50px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__img {
        object-fit: cover;
        object-position: center;
        height: 60vh;
        width: 100vw;
    }
}