.delPop {
    height: 100vh;
    width: 100%;
    font-size: 1rem;
    position: fixed;
    color: white;
    top: 0;
    left: 0;
    background-color: rgba(white, .8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .2s;

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 37.5vw;
        padding: 10px 20px;
        background-image: linear-gradient(to bottom right, #00c6fb, #005bea);
        box-shadow: 0 2rem 4rem rgba(black, .5);
        border-radius: 5px;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.25);
        transition: all .5s .05s;

        &--active {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }
    }

    &__card {
        padding: 30px;

        &__form {

            height: 80vh;
            padding: 10px 40px;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
    }

    &__heading {
        text-align: center;
        font-size: 1.5rem;
    }

    &__btn-group {
        margin: 20px 0 10px 0;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    &--active {
        opacity: 1;
        visibility: visible;
    }
}
