
.dashcard {
    position: relative;
    width: 275px;
    height: 400px;
    padding: 10px;
    margin: 20px;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0px 0px 20px 1px black;
    }
    
    &-img {
        height: 70%;
        object-fit: cover;
        object-position: center;
    }

    &-group {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}


.cardsheading {
    display: block;
    font-size: 35px;
    color: white;
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 10px;
    margin: 50px;
}

.dashboard {
    background: rgb(71, 71, 71);
    
    &__btn {
        margin: 50px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__img {
        object-fit: cover;
        object-position: center;
        height: 60vh;
        width: 100vw;
    }
}