
.clearfix {
    content: "";
    display: table;
    clear: both; 
}


.landing {
    background-image: linear-gradient(to right bottom, rgba(32, 62, 84, 0.863),rgba(32, 62, 84, 0.856)), url(https://images.unsplash.com/photo-1457305237443-44c3d5a30b89?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1653&q=80);
    padding: 50px;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.landing__navbar-left-name, .landing__navbar-right-contact {
    font-family: "Roboto Condensed", "Lato", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 1.5px;
    margin-bottom: 5px;
    color: #D8B16B;
}

.landing__navbar-left-name {
    float: left;
}

.landing__navbar-right-contact {
    float: right;
}


h1 {
    font-family: 'Roboto Condensed', serif;
    margin-bottom: 50px;
    color: #ffffff;
    font-size: 54px;
    letter-spacing: 2px;

}
.landing__content {
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
    width: 848px;
}

.landing__content-para {
    font-family: "Open Sans",serif;
    color: #D8B16B;
    letter-spacing: 4px;
    line-height: 1.5;
    margin-bottom: 25px;

}

.landing__buttons-btn:link, .landing__buttons-btn:visited {
    width: 250px;
    font-family: "Roboto Condensed";
    font-weight: 700;
    padding: 15px;
    margin: 20px;
    display: inline-block;
    text-decoration: none;
    background: #fff;
    color: #D8B16B;
    border-radius: 47px;
    transition: 0.2s all;
    font-size: 25px;
}

.landing__buttons-btn:hover {
    box-shadow: 0 3px 5px #D8B16B;
    background: #D8B16B;
    color: #fff;
}


.landing__navbar-middle-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.logo {
    width: 200px;
    transition: 0.2s all;
}
.logo:hover {
    transform: scale(.5);
    box-shadow: 0 2px 5px #D8B16B;
}

.sp {
    color: #D8B16B;
    font-weight: 700;
    text-shadow: 0.5px 0.5px 5px #D8B16B;
}

.guide {
    font-weight: 400;
    font-size: 25px;
    color: rgb(184, 184, 184);
    text-transform: uppercase;
}