
.signup {
    background-image: url(../assets/you-x-ventures-1442657-unsplash.jpg);
    height: 80vh;
    width: 100%;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.5);
    z-index: 0;
    display: flex;


    &__back {
        background-image: linear-gradient(to bottom right, #00c6fb, #005bea);
        height: 100vh;
        padding: 10vh 20vh;
        z-index: -1;
    }

    &__display {
        width: 65%;
    }

    &__card {
        background-image: linear-gradient(to bottom right, #00c6fb, #005bea);
        width: 35%;
        height: 100%;
        z-index: 10;
        border: 10px solid white;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;

        display: flex;
        justify-content: center;
        align-items: center;

        &__form {
            
            width: 80%;
            height: 90%;
            z-index: 20;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            &--radio {
                position: relative;
                display: flex;
                justify-content: space-around;
            }
        }
    }
}