
.signup, .data {
    padding: 5% 0;

    &__card {
        width: 550px;
        padding: 5% 0;

        &__form {
            font-size: 16px;
            &__pic {
                width: 12vw;
                height: 12vw;
                cursor: pointer;
            }
        }
    }
}

.data {
    background: linear-gradient(to top, rgba(185, 185, 185, 0.801), rgba(161, 158, 158, 0.801)),
    url(https://images.unsplash.com/photo-1553615738-d8e0829f1d61?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login {
    padding: 6% 0;
    font-size: 0.9em;

    &__card {
        width: 450px;
        padding: 5% 0;

        &__pic {
            width: 8vw;
            height: 8vw; 
            font-size: 60px; 
            
            color: #333;
            background: white;

            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin: 0 auto;
            box-shadow: 0 9px 30px rgba(0, 0, 0, 0.4);
        }

        &__form {
            font-size: 16px;
        }
    }
}

.signup, .data, .login {
    height: 100%;
    width: 100%;
    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &__card {
        height: 90%;
        border-radius: 0.35em;
        background: linear-gradient(to bottom, rgba(117, 122, 255, 0.92), rgba(178, 36, 239, 0.92));
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &__form {
            width: 75%;
            text-align: center;
        }

        &__btn {
            margin-top: 3.5em;
            width: 7em;
            position: relative;
            color: #444;
            font-weight: 500;
            text-decoration: none;
            display: inline-block;
            z-index: 2;
            font-size: 1.25em;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.6);

            padding: 0.6em;
            border-radius: 100px;
            background: white;
            border: solid 1px white;
            transition: all 0.33s ease;

            &:hover {
                transform: scale(1.05) translateY(-3px);
                box-shadow: 0 12px 25px rgba(0, 0, 0, 0.6);
            }

            &:active {
                transform: translateY(-1px);
                box-shadow: 0 9px 10px rgba(0, 0, 0, 0.6);
            }
        }
    }

    .invalid-feedback {
        color: white;
        position: absolute;
        font-size: 14px;
    }
}