
@keyframes Gradient {
	0% {
		background-position: 0% 50%
    }
	50% {
		background-position: 100% 50%
    }
	100% {
		background-position: 0% 50%
	}
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: orange; 
    }
}